.logo{
    background-color: #0e101c;

    a{
        color: #000;
        text-shadow: 2px 2px #FFFF;
        //width: 100%;
        font-size: 50px;
        text-decoration: none;
        
    }

    .logo-link{
        background-color: #0e101c; //#bf1650;
        width: 10%;
        height: auto;
        text-align: center;
        cursor: pointer;
    }
}